<h1>SINGLE POST COMPONENT</h1>


<div>{{$ctrl.postId}}</div>
<div>{{$ctrl.singlePost}}</div>





<div class = "single-post-container single-post-container-{{$ctrl.singlePost.id}}" data-post-id="{{$ctrl.singlePost.id}}">
		<div class = "title-and-vote-container">
			<h3 class = "single-post-title"><a ui-sref="singlePost({postId: post.id})">{{$ctrl.singlePost.title}}</a></h3>




			<div class = "vote-button-container">
				
				<div class = "post-vote-button post-upvote-button" ng-click="$ctrl.upvote($ctrl.singlePost)"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
				</div>

				<div class = "post-vote-button post-downvote-button" ng-click="$ctrl.downvote($ctrl.singlePost)"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
				</div>




				<span class="vote-count">{{$ctrl.singlePost.vote_count}}</span>
			</div>
	<div style = "background-image: url({{$ctrl.singlePost.image_url}})" class = "single-post-image"></div>
		</div>




		<h4 class = "single-post-author"><i class="fa fa-user-circle" aria-hidden="true"></i>
		{{$ctrl.singlePost.author}}</h4>
		<div class = "time-container">
			<span>Created</span>
			<span am-time-ago="post.created_at"></span>
		</div>
		<div class = "single-post-body">{{$ctrl.singlePost.body}}</div>
		<div class= "comment-heading-container">
			<span><i class="fa fa-comment" aria-hidden="true"></i>
			</span>
			<span class = "comments-heading" ng-pluralize count=post.comments.length
				when="{
				'1': '1 Comment',
				'other': '{{$ctrl.singlePost.comments.length}} Comments'
				}" ng-click="$ctrl.toggleShowCommentFormBoolean(post)">
			</span>
		</div>
		<form novalidate class = "col-xs-10" name = "$ctrl.commentForm" ng-submit="$ctrl.createComment(post)" ng-if="post.showCommentFormBoolean">
			<div class = "comments-container">
				<div ng-repeat="comment in post.comments" class = "single-comment-container">
					<p class ="comment"> <span><i class="fa fa-comment" aria-hidden="true"></i> &nbsp {{comment.content}} </p>
				</div>
			</div>
			
			<label for="newCommentFormBodyInput">Add a Comment...</label>
			<textarea class = "new-comment-form-textarea newCommentFormBodyInput col-xs-10" name="bodyInput" ng-model="post.newComment.body" required></textarea>
			
			<button class = "new-comment-form-submit-button col-xs-10"
			ng-class="{'primary-button full-opacity': post.newComment.body}">Create Comment</button>
		</form>
	</div>
